<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/pico.min.css">
<script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> 
    <title>{% block title %}{% endblock %} - Lunar Oasis</title>
  </head>
  <body>
    <main class="container">
        {% if user is defined %}
  <nav>
    <ul>
      <li><a href="/app"><strong>Dashboard</strong></a></li>
      <li>Welcome, {{ user['login'] }}</li>
    </ul>
    <ul>
      <li><a href="#">Shop</a></li>
    </ul>
  </nav>
        {% endif %}
      {% block content %}{% endblock %}
  </body>
</html>
