<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <title>{% block title %}{% endblock %} - Lunar Oasis</title>
  </head>
  <body>
    <main class="container-fluid">
        {% if user is defined %}
        <nav style="margin-left: 100px; margin-right: 100px">
    <ul>
      <li>
        <hgroup><a href="/app" style="font-size: 40px"><strong>Dashboard</strong></a>
          <p>Welcome, {{ user['login'] }}</p></hgroup></li>
    </ul>
    <ul>
      <li><a onclick="document.getElementById('shop').open = true" style="font-size: 25px">Shop</a></li>
      <li>|</li>
      <li><a onclick="document.cookie = 'id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/'; window.location.href = '/'" style="font-size: 25px">Sign Out</a></li>
    </ul>
  </nav>
        {% endif %}
      {% block content %}{% endblock %}
  </body>
</html>
