{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="container">
  <nav style="display: flex; align-items: center">
    <ul>
      <a href="/"><img src="/static/moon.png" width="100px" style="margin-top: auto; margin-bottom: auto;" /></a>
    </ul>
    <ul style="font-family: monospace;">
      <li><a href="/signup" style="color: white;">Sign Up</a></li>
      <li>|</li>
      <li><a href="/login" style="color: white;">Log In</a></li>
    </ul>
  </nav>

  <div>
    <hgroup style="text-align: left; padding-top: 80px; font-family: monospace; margin-left: 100px">
      <h1 style="font-family: monospace;">
        LunarOasis
      </h1>
      <p>Your Gateway to the Future of Space Living</p>
    </hgroup>
  </div>
  <article style="margin-top: 100px">
    <header style="font-size: 22px; font-family: monospace;">What is this?</header>The very core of human desire is to explore the unknown and extend human presence. This space exploration starts from our moon, the closest celestial object to earth. The challenges of space exploration push boundaries of human knowledge. As human habitation beyond Earth continues to grow, the need for efficient ways of managing and monitoring spaces continues to grow alongside it. Our product aims to solve this by creating a streamlined method of selling, managing and monitoring spaces.
<br><br>
Our product allows you to buy and manage your very own space-pod.
  </article>

  <article style="margin-top: 100px">
    <header style="font-size: 22px; font-family: monospace;">How does it work?</header>
Moon habitats have been established, featuring advanced sensors designed to monitor crucial parameters like temperature and pressure. Within these habitats, residents are assigned specific quotas for essential resources such as water and oxygen. However, should there be a need for additional resources beyond the allotted amounts, an option is available to procure them through the designated store accessible on the dashboard. This system ensures a balance between resource allocation and the flexibility to acquire more supplies as needed, contributing to the sustainability and adaptability of the lunar living environment.
  </article>
</main>
{% endblock %}
