{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
<script>
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

if (!isNaN(getCookie('id'))) {
  window.location.href = "/app"
}
</script>

<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>Sign Up</h1>
        <h2>Sign Up to your new space-pod management interface</h2>
      </hgroup>
      <form action="/api_signup">
        <input
          type="text"
          name="login"
          placeholder="Login"
          aria-label="Login"
          value='{{ request.form.username }}'
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          value='{{ request.form.password }}'
          required
        />
        <button type="submit" class="contrast" >Sign Up</button>
      </form>
      {% if err is defined %}
        {{ err }}
      {% endif %}
    </div>
  </article>
</main>
{% endblock %}
